<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>MY VIRTUAL CART</title>
     <style>
       .jumbotron{
       background-color:khaki;
       height:650px;
       width:1200px;
       margin:50px 50px 50px 130px;
       }
       .bdyclr{
       background-color:lightgreen
       }
  </style>
  </head>
<body class="bdyclr">
    <div class="jumbotron">
      <h1 class="display-4"><b>WELCOME TO MY VIRTUAL CART</b></h1>
  <p class="lead">Sometimes you don’t need a reason for shopping.</p>
  <p class="lead">“Selling Dreams, Creating Lifestyles!”</p>
  <hr class="my-5">
  <ul>
    <li><h3>An exciting place for the whole family to shop.</h3></li>
    <li><h3>Discover the difference and Your favourite place.</h3></li>
    <li><h3>Life is hard enough already. So we make it a little easier for you.</h3></li>
      <li><h3>Transforming shopping into an experience.</h3></li>

  </ul>
      <h1>WHAT ARE YOU WAITING FOR!!! START YOUR SHOPPING NOW</h1>
        <div class="text-center">
      <a class="btn btn-primary btn-lg text-center" href="/shop" role="button">SHOP NOW</a>
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
